# The Stationeers installation directory, or its Stationpedia export directory.
# Quotes are recommended because the default Steam path contains spaces.
STATIONEERS_DIR=

# Local Steam Workshop publishing settings
STEAM_USERNAME=
STEAM_WORKSHOP_ID=
# Optional path to the steamcmd.exe
# Quotes are recommended in case the path contains spaces.
STEAMCMD_PATH=
